<div>
  <button (click)="onSelectUser()" > <!-- added an eventListener to hear a click (being called from user.component.ts) -->
    <img
      [src]="imagePath"
      [alt]="selectedUser.name"
    />
    <!-- Property Binding; helps you set values for properties of HTML elements -->
    <span> {{ selectedUser.name }} </span>
    <!-- string interpolation; allows us to reference any public property of our Component class. This is how you can output dynamic text or content in the template. -->
  </button>
</div>
